  .scrolling-wrapper {
    overflow-x: scroll;
    /* overflow-y: hidden; */
    white-space: nowrap;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }

  .scrolling-frame {
    justify-content: center;
    width: 90%;
    margin:0px auto;
  }

  .scrolling-wrapper .film_image {
    display: flex;

  }

  .slick-slide {
    margin: 10px;
    outline: none;
  }

  .film_image {
    width: 100%;
    height: auto;
    outline: none;
  }

  .slick-slide img {
      width: 200px;
      height: 300px;
  }

  .slick-prev:before {
    color: slategrey !important;
  }

  .slick-next:before {
    color: slategrey !important;
  }

  .carousel h2 {
    margin-top: 40px;
    padding-left: 40px;
    color: mediumturquoise;
  }

  